:root {
  --bg-color: linear-gradient(to bottom, rgb(31, 31, 31), #000000);
  --bg-color-card: #000000;
  --bg-img: url(./assets/bg.png);
  --text-color: #e5e5e5;
  --stroke-color: rgba(255, 255, 255, 0.5); 
  --dropdown-color: linear-gradient(130deg, #ffffff 11%, #726f6f 62%); 
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: linear-gradient(130deg, #757272 10%, #ffffff 11%, #726f6f 62%);
  --border: White;
  --textShadow: 0 0 30px rgba(0, 0, 0, 0.75), 0 0 60px rgba(0, 0, 0, 0.45);
}
.light {
  --bg-color: linear-gradient(to bottom, #737373, #A6A6A6);
  --bg-color-card: #e5e5e5;
  --bg-img: url(./assets/bgLight.png);
  --text-color: #000000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --dropdown-color: linear-gradient(315deg, #000000 0%, #414141 70%); 
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: linear-gradient(315deg, #000000 0%, #414141 70%);
  --border: #000000;
  --textShadow: 0 0 30px rgba(255, 255, 255, 0.75), 0 0 60px rgba(255, 255, 255, 0.45);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  user-select: none;
}
html,body {
  height: 100%;
}
body {
  padding: 5.25rem 5.25rem;
  margin: 0;
  background: var(--bg-color);
  transition: all 1.5s;
  backdrop-filter: blur(0.125rem);
  backdrop-filter: brightness(60%);
  backdrop-filter: saturate(80%);
  transition: all 1s;
  overflow: hidden;
}

body::after {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 11.375rem;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.on body::after {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 11.375rem;
  opacity: 0.16;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.gap-2 {
  gap: 2px;
}

.errorElement {
  font-size: 100px;
  text-align: center;
  margin: 16% 0;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 154px;
  position: relative;
  z-index: 1;
  transition: all 1s;
}
#headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

a {
  text-decoration: none;;
}
#nameABV {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin: 0;
  color: var(--text-color);
  text-shadow: var(--textShadow);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.on #nameABV::after {
  content: 'Victor|Soares.';
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
/* Group one */
#group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

/* Switch */
#switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
#switch button {
  width: 36px;
  height: 36px;
  background: var(--switch-bg-url) no-repeat center;
  border: none;
  border-radius: 50%;
  animation: rotate-back 2s forwards;
  z-index: 1;

  cursor: pointer;
}
.light #switch button {
  animation: rotate-in 2s;
  animation-fill-mode: forwards;
}

@keyframes rotate-in {
  0% {
      transform: rotate(0);
  } 
  100% {
      transform: rotate(360deg);
  }
}
@keyframes rotate-back {
  0% {
      transform: rotate(0);
  } 
  100% {
      transform: rotate(-360deg);
  }
}

#switch button:hover {
  outline: 2px solid var(--highlight-color);
}

/* Dropdown */
#menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adicione mais estilos aqui, se necessário */
}

#menuButton button {
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  padding: 16px;
  /* Adicione mais estilos aqui, se necessário */
  cursor: pointer;
}

#circlesGrid {
  width: 48px;
  height: 48px;
  display: grid;
  align-items: center;
  justify-content: center; /* Centraliza os elementos do grid */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 12px;
  transform: scale(0.75);
  /* Adicione mais estilos aqui, se necessário */
}

.candyBox {
  width: 7px;
  height: 7px;
  outline: 3px solid;
  border-radius: 100px;
  background: none;
  transition: all 1.5s; 
  z-index: 0;
}

.circleOne,
.circleTwo,
.circleFour {
  outline-color: #d5d5d5;
}
.circleThree,
.circleFive,
.circleSix {
  outline-color: #9e9d9d;
}
.circleSeven,
.circleEight,
.circleNine {
  outline-color:  #8d8d8d;
}

.light .candyBox {
  width: 7px;
  height: 7px;
  outline: 3px solid;
  border-radius: 100px;
  background: none;
  transition: all 1.5s; 
  z-index: 0;
}

.light .circleOne,
.light .circleTwo,
.light .circleFour {
  outline-color: #414141;
}
.light .circleThree,
.light .circleFive,
.light .circleSeven {
  outline-color: rgb(32, 32, 32);
}
.light .circleSix,
.light .circleEight,
.light .circleNine {
  outline-color: #000000;
}

/* Menu */
.on #menuSel {
  display: flex;
  justify-content: center;
  height: 75vh;

}
#menuSel {
  display: none;
  position: fixed;
  z-index: 2;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1.5s;
}
.options {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  transition: all 1.5s;
}
.li {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: var(--text-color);
  margin: 0;
  letter-spacing: 2.2px;
  text-align: center;
  width: 100%;
}
a {
  color: var(--text-color);
}
#home {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}
#home::before {
  content: "01.";
  font-size: 20px;
}
#about {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}
#about::before {
  content: "02.";
  font-size: 20px;
}
#project {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}
#project::before {
  content: "03.";
  font-size: 20px;
}
#contact {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}
#contact::before {
  content: "04.";
  font-size: 20px;
}

#container {
  display: flex;
  justify-content: center;
  height: 75vh;
  background: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.on #container {
  display: flex;
  justify-content: center;
  height: 75vh;
  background: var(--bg-img);
  opacity: 0.18;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#firstContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1.5s;
}

.on #introduction {
  display: none;
  transition: all 1s ease;
}
#introduction {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 5.21vw;
  color: transparent;
  margin: 0;
  letter-spacing: 2.2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
}

#name {
  color: var(--text-color);
}
.on #resume {
  display: none;
  transition: all 1s ease;
}
#resume {
  max-width: 71.875REM;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 2.188vw;
  text-decoration: none;
  text-align: center;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  margin: 0;
  border-top: 3px dashed var(--text-color);
  text-shadow: var(--textShadow);
  letter-spacing: 2.2px;
}
.transparanteL {
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: var(--text-color);
}
.transparanteLTwo {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
}

#aboutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;
  background: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s;
}
.on #aboutContainer {
  background: var(--bg-img);
  opacity: 0.18;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1.5s;
}
#aboutContent {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 16px;
  flex-direction: column;
  transition: all 0.5s;
}
.on #aboutContent {
  display: none;
}
#aboutTitle {
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: start;
  font-size: 4.21vw;
  color: var(--text-color);
  text-shadow: 5px 5px 75px rgba(255, 68, 0, 0.252);
  margin: 0;
  letter-spacing: 2.2px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
  border-bottom: 3px solid var(--text-color);
  width: 100%;
}
#transparentB {
  color: transparent;
}
#aboutResume {
  max-width: 42rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.188vw;
  text-decoration: none;
  text-align: start;
  color: var(--text-color);
  letter-spacing: 2.2px;
}

@media (max-width: 468px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    user-select: none;
  }
  html,body {
    height: 100%;
  }
  body {
    padding: 1rem 1rem;
    margin: 0;
    background: var(--bg-color);
    transition: all 1.5s;
    backdrop-filter: blur(0.125rem);
    backdrop-filter: brightness(60%);
    backdrop-filter: saturate(80%);
    transition: all 1s ease;
    overflow: hidden;
  }
  
  body::after {
    content: "";
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 11.375rem;
    opacity: 0.12;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .errorElement {
    font-size: 50px;
    text-align: center;
    margin: 50% 0;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    gap: 154px;
    position: relative;
    z-index: 1;
  }
  
  #headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  
  a {
    text-decoration: none;;
  }
  #nameABV {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: 0;
    color: var(--text-color);
    text-shadow: var(--textShadow);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }
  /* Group one */
  #group {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4px;
  }
  
  /* Switch */
  #switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }
  #switch button {
    width: 32px;
    height: 32px;
    background: var(--switch-bg-url) no-repeat center;
    border: none;
    border-radius: 50%;
    animation: rotate-back 2s forwards;
    z-index: 1;
  }
  .light #switch button {
    animation: rotate-in 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes rotate-in {
    0% {
        transform: rotate(0);
    } 
    100% {
        transform: rotate(360deg);
    }
  }
  @keyframes rotate-back {
    0% {
        transform: rotate(0);
    } 
    100% {
        transform: rotate(-360deg);
    }
  }
  
  #switch button:hover {
    outline: 2px solid var(--highlight-color);
  }
  
  /* Dropdown */

  #menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione mais estilos aqui, se necessário */
  }

  #menuButton button {
    background: none;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 16px;
    /* Adicione mais estilos aqui, se necessário */

    cursor: pointer;
  }

  #circlesGrid {
    width: 48px;
    height: 48px;
    display: grid;
    align-items: center;
    justify-content: center; /* Centraliza os elementos do grid */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px;
    transform: scale(0.50);
    /* Adicione mais estilos aqui, se necessário */
  }
  .on #menuSel {
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  #menuSel {
    display: none;
    position: fixed;
    z-index: 2;
  }
  .menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1.5s;
  }
  .options {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #ul {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    transition: all 1.5s;
  }
  .li {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: var(--text-color);
    margin: 0;
    letter-spacing: 2.2px;
    text-align: center;
    width: 100%;
  }
  .on #nameABV::after {
    content: 'Victor|Soares.';
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }
  .candyBox {
    width: 7px;
    height: 7px;
    outline: 3px solid;
    border-radius: 100px;
    background: none;
    transition: all 1.5s; 
    z-index: 0;
  }
  
  .circleOne,
  .circleTwo,
  .circleFour {
    outline-color: #d5d5d5;
  }
  .circleThree,
  .circleFive,
  .circleSix {
    outline-color: #9e9d9d;
  }
  .circleSeven,
  .circleEight,
  .circleNine {
    outline-color:  #8d8d8d;
  }
  
  .light .candyBox {
    width: 7px;
    height: 7px;
    outline: 3px solid ;
    border-radius: 100px;
    background: none;
    transition: all 1.5s;
  }
  
  .light .circleOne,
  .light .circleTwo,
  .light .circleFour {
    outline-color: #414141;
  }
  .light .circleThree,
  .light .circleFive,
  .light .circleSeven {
    outline-color: rgb(32, 32, 32);
  }
  .light .circleSix,
  .light .circleEight,
  .light .circleNine {
    outline-color: #000000;
  }
  
  #container {
    display: flex;
    justify-content: center;
    height: 80vh;
    background: var(--bg-img);
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .on #container {
    display: flex;
    justify-content: center;
    height: 80vh;
    background: var(--bg-img);
    opacity: 0.18;
    background-size: 800px;
    background-position: center;
    background-repeat: no-repeat;
  }
  #firstContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1.5s;
  }
  
  #introduction {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    color: transparent;
    margin: 0;
    letter-spacing: 2.2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
  }
  
  #name {
    color: var(--text-color);
  }
  #resume {
    max-width: 71.875REM;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin: 0;
    border-top: 3px dashed var(--text-color);
    text-shadow: var(--textShadow);
    letter-spacing: 2.2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
  }
/*
  #aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    background: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
  }
*/
  .on #aboutContainer {
    background: var(--bg-img);
    opacity: 0.18;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1.5s;
  }
  #aboutContent {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
    flex-direction: column;
    transition: all 0.5s;
  }
  .on #aboutContent {
    display: none;
  }
  #aboutTitle {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: start;
    font-size: 36px;
    color: var(--text-color);
    text-shadow: 5px 5px 75px rgba(255, 68, 0, 0.252);
    margin: 0;
    letter-spacing: 2.2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
    width: 100%;
  }
  #transparentB {
    color: transparent;
  }
  #aboutResume {
    max-width: 42rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-align: start;
    color: var(--text-color);
    letter-spacing: 2.2px;
  }
}